@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBF6F3;
    font-family: 'Poppins', sans-serif
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(53, 54, 56);
    border-radius: 10px;
}
.hero-flex{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    justify-items: space-around;
    align-items:center;
}
.pop-bold{
    font-size: 30px;
    font-weight: bold;
    margin-left:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.drop-box{
    padding:10px;
    margin:20px;
    border-radius: 10px;
    width:max-content;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#FFC671;
    /* Black shadow with 10px blur */
filter:drop-shadow(5px 5px  #dcdcdc)

}
.hero-text{
    margin:30px;
}
.font-italiana {
    font-family: 'Italiana', serif;
}

.font-yeseva {
    font-family: 'Yeseva One', cursive;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    padding:1rem;
    justify-content: space-between;
    align-items: center;
}

nav {
    transition: 700ms;
}


.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {

    margin: 0 15px;
    padding: 8px;


}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    opacity: 0.7;
}

.menu-open {
    display: none;
}

.bar-open {
    display: none;
}


.menu-close {
    display: none;
}

.bar-close {
    display: none;
}



@media (max-width:750px) {
    .menu-open {
        width: 40px;
        height: 30px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bar-open {
        display: unset;
        width: 80%;
        height: 0.1px;
        background-color: black;
        border-radius: 1px;
    }

    nav {
        position: fixed;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100%;
        z-index: 10;
    }

    .nav-list {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #FFC671;
        padding: 100px 0;
    }

    .menu-close {
        display: unset;
        width: 40px;
        height: 30px;
        position: absolute;
        top: 30px;
        left: 30px;
        cursor: pointer;
    }

    .bar-close {
        display: unset;
        width: 90%;
        height: .1px;
        background-color: black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 10px;
    }

    .bar-close:nth-child(1) {
        transform: rotate(45deg);
    }

    .bar-close:nth-child(2) {
        transform: rotate(-45deg);
    }


}


.openNav {
    right: 0;
}

.links-animation {
    animation: animateLink 500ms ease-in-out forwards;
}

.links-animation:nth-child(2) {
    animation: animateLink 500ms ease-in-out forwards 75ms;
}

.links-animation:nth-child(3) {
    animation: animateLink 500ms ease-in-out forwards 150ms;
}

.links-animation:nth-child(4) {
    animation: animateLink 500ms ease-in-out forwards 225ms;
}

/* .menuRotate {
    transform: rotate(720deg);
    transition: 300ms;
} */

@keyframes animateLink {
    from {
        transform: translateX(220px);
    }

    to {
        transform: translateX(0px);
    }
}

.footer{
    position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding:2rem;
  background-color: #efefef;
  text-align: center;
}
.footer-png
{
    padding-top:10px;
}
.footer-txt{
    padding:30px;
}
footer a{
    text-decoration: none;
}
#hero-text{
    width:30rem;
}
@media screen and (max-width: 600px) {
    #hero-text{
     width:17rem;
    }
  }
  form{

    padding:20px;
}
.center{
    margin:auto;
margin-bottom: 20px;
padding: 10px
}
label{
    display:flex;
}
input,textarea{
    padding:10px;
    border:none;
    border-radius:10px;
}