{%extends 'base.html'%}
{%load static%}
{%block content%}
<h1 class="font-italiana" style="font-size: 3rem;text-align:center">
    <div>Your Sidekick to</div>
    <div class="font-yeseva">Healthy and Elegant</div>
    <div>Recipes</div>
</h1>
<section>
    <div class="hero-flex">
        <div class="hero-text">
    <img src="{%static 'images/hero-ele.png'%}" alt="" height=40px>
        <span class="pop-bold">Share and Create Recipes</span>
        <div style="margin-left: 40px"id="hero-text">Say sayonara to old recipe books lying in the corner of your kitchen shelf! Explore recipes like never before. From cuisines of the incredible land of India to the croissants of Italy, we have got you covered!</div>
        <div class="drop-box" style="margin-left:40px">Explore</div>
    </div>
        <img src="{%static 'images/hero.gif'%}" alt="">
    </div>
    </section>
</body>
{%endblock content%}