{% extends 'base.html' %}
{%block content%}
<center>
<div class="center drop-box"style="width:60%">
    <h1 class="font-yeseva">{{ recipe.title }}</h1>
    <p>Description{{ recipe.description}}</p>
    <h2 class="font-italiana">Ingredients</h2>
    <p>{{ recipe.ingredients}}</p>
    {% if recipe.image %}
    <img src="{{recipe.image.url}}" style="width:100%;height:auto"alt="">
    {%endif%}
    <h2 class="font-italiana">Steps</h2>
    <p>{{recipe.steps}}</p>

</div>
</center>
{% ifequal recipe.author user %}
<center style="margin-bottom: 4rem;">
<a href="{%url 'recipe_edit' recipe.pk %} "class="drop-box"style="margin-bottom: 1rem;color: white;text-decoration: none;">Edit</a>

<a href="{%url 'recipe_delete' recipe.pk %}"class="drop-box"style="margin-bottom: 1rem;color: white;text-decoration: none;">Delete</a>
</center>
{% endifequal %}

{% endblock content %}